<h1><%= @band.name %></h1>

<% @band.albums.each do |album| %>
  <%= link_to album.title, album_url(album) %>
<% end %>

<br>

<%= link_to "New Album", new_band_album_url(@band) %>
<br>
<%= link_to "Edit Band", edit_band_url(@band) %>
<br>
<%= link_to "Delete Band", band_url(@band), method: :delete %>
<br>
<%= link_to "All Bands", bands_url %>
